@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@200&family=Space+Mono:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading {
    height: 230px;
    display: block;
}

.heading p {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
}
.content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    width: 100vw;
}



.News-heading {
    /* width: 70%; */
    margin-bottom: 36px;
}

.News-heading p {
    max-width: 605px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 95px;
    letter-spacing: -0.035em;

}

.News-heading-subtext {
    margin-bottom: 64px;
}

.News-heading-subtext p {


    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    min-width: 53%  ;
    max-width: 450px;
    /* Gray 2 */
    color: #4F4F4F;

}

.Reverse-button button {
    width: 216px;
    height: 68px;
    /* Gray 1 */
    background: #333333;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.035em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #FFFFFF;
}


.content-part {
    min-width: 520px;
    width: 50%;
}

.scarecrow-part img {
    /* width: 539.22px;
    height: 414.25px; */
    /* width: 70%;
    height: 91%; */
    max-width: 80%;
    justify-content: center;
    align-items: center
}

.scarecrow-part {
    /* margin: 1px 0px; */
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: center;
    min-width: 520px;
}
.inner-box{
    max-width: 100%;
    padding: 30px;
}